---
import Layout from '../layouts/Layout.astro';
import Welcome from '../layouts/Welcome.astro';
import Navigation from '../components/Navigation.astro';
import Card from '../components/Card.astro';
import Introduction from '../components/Introduction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Alwaz Shahid'>
  <main>
    <!-- <h1>Hey! its <span class="text-gradient">Alwaz</span></h1> -->
    <Welcome>
      <Navigation />

      <Introduction />
      <Footer />
    </Welcome>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1.5rem; */
    /* max-width: 60ch; */
    overflow: hidden;
  }
  /* h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  } */
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
