---
const { platform, url } = Astro.props;
---

<a
  href={url}
  target='_blank'
  class='relative lg:px-6 lg:py-3 px-2 py-1 font-bold text-black group flex-0 rounded-sm'>
  <span
    class='absolute inset-0 w-full h-full transition rounded-sm duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-slate-50 group-hover:translate-x-0 group-hover:translate-y-0 hover:opacity-60'
  ></span>
  <span
    class='absolute inset-0 w-full h-full border-4 rounded-sm border-red-500'
  ></span>
  <span class='relative capitalize'>{platform}</span>
</a>
