---
export interface Props {
  title: string;
}

import '../global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <!-- <link
      href='https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'
      rel='stylesheet'
    /> -->
    <meta name='generator' content={Astro.generator} />
    <!-- <link rel='stylesheet' href='./src/global.css' /> -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: Ubuntu, system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  body,
  html {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 1640px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
