---
pageTitle: 'About Us';
---

<div class='container'>
  <div class='landing'>
    <div class='reveal-container'>
      <h5>
        <!-- font 200px -->
        <span style='font-size: 190pt;' class='s1'>Hey!</span>
        <span class='s2'>I'm thrilled you're here!</span>
      </h5>
    </div>
  </div>
  <section class='content'>
    <slot />
  </section>
</div>

<style>
  .container {
    padding: 0;
    /* max-width: 960px; */
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(86, 159, 255);
  }
  h5 {
    width: 3000px;
    margin: 0;
    text-align: center;
    font-size: 60pt;
    overflow: hidden;
    line-height: 1;
    padding: 10px;
    /* color: #201d1d; */
    font-family: Ubuntu;
  }
  .s1 {
    display: block;
    animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    visibility: hidden;
    font-style: italic;
    padding: 50px;
    text-align: center;
  }

  .s2 {
    display: block;
    animation: reveal-one 2s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
    visibility: hidden;
    font-style: italic;
    font-size: 60pt;
    text-align: center;
  }
  /* h1 {
    margin: 0;
    text-align: center;
    font-size: 44pt;

    line-height: 1;

  }
  h1 span {
    display: block;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
    visibility: hidden;
  } */
  .content {
    padding: 0;
    /* max-width: 960px; */
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(30, 28, 28);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reveal-container {
    padding: 0;
    /* max-width: 960px; */
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  @keyframes grow {
    from {
      height: 100vh;
    }
    to {
      height: 0px;
      display: hidden;
    }
  }

  @keyframes reveal-one {
    0% {
      transform: translate(0, 100%);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }
</style>
